h1 {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: 3px 3px rgb(248, 50, 83);
  font-size: 100px;
}

body {
  background-color: rgb(26, 26, 65);
  text-align: center;
}

.btn {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
